.backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    z-index: 20;
    display: block;
    position: fixed;
}

.modal {
    background: white;
    padding: 30px;
    min-width: 500px;
    max-width: 50%;
    top: 20%;
    left: 25%;
    z-index: 30;
    position: fixed;
    border-radius: 5px;
}