html,
body,
.layout {
    height: 100%;
    display: grid;
}

.layout {
    grid: min-content auto min-content/ minmax(170px, 20%) 80%;
}

footer {
    grid-row: 3/4;
    grid-column: span 2;
    background-color: #747474;
    padding: 10px;
    color: white;
}